<div id="2024-06-06" class="docs-section">
Played video games today with Victoria. Two-player on her
Switch. Untitled Geese Game, Cuphead, Portal 2.

I'm unhappy with the joinery I did yesterday and today, I was
attempting to add a leg to the table in the corner window in the
kitchen. I've been feeling like I have been improvising. And I don't
like it. I don't feel like I have the ability to be invested in what
I've been doing. I don't feel like I have the sense that pride in my
work is a significant constraint. Anyway I'm not happy with it. I need
to take it apart and try again.

I'm thinking more about this story idea. Where do ideas come from? How
does the abstract interact with the real? The art world seems to be
another example. I talked to Kate about it. I had watched Velvet
Buzzsaw and she had watched the Salvatore Mundi documentary. And then
a discussion with Victora about the fame as a means rather than an
ends. I'm thinking more and more that the idea of entropy and time and
inversion of a sense of causal direction is what is at the heart of
why I feel that this whole thing seems uncanny.
</div>
