<div id="causal_econometrics_reading_group" class="docs-section">
  <h4 class="">Causal econometrics reading group.</h4>
  <p>
    Peter Gibbard and I are starting a causal econometrics reading group.
  </p>
  <p>
    We will meet weekly starting 12 September 2023.
  </p>
  <p>
    1:30pm at Dispensary cafe. Hopefully Kevin will be a regular attendee.
  </p>
  <img class="u-max-full-width" src="assets/images/kevin.jpg">
  <p>
    I will maintain a running update of the reading
    list <a href="https://www.leonstirkwang.com/#causal_econometrics_reading_group">here</a>
    along with the reading for the upcoming week.
  </p>
  <p>
    <ol>
      <li>
	<i>This week:</i> <b>12/09/2023</b>
	<ul>
	  <li>
	    <a href="">The central role
	of the propensity score in observational studies for causal
	      effects (Rosenbaum, Rubin, 1974).</a>
	  </li>
	  <li>
	    The seminal paper in causal econometrics (in
	    non-experimental settings).
	  </li>
	</ul>
      </li>
      <li>
	<i>Upcoming (provisional):</i> <b>19/09/2023</b>
	<ul>
	  <li><a href="">Causal inference in statistics: A primer
	      (Glymour, Pearl, Jewell, 2016).</a>
	  </li>
	  <li>
	  The other major thread in the causal econometrics literature
	  descends from Pearl. His seminal contributions might
	  be <a href="">Probabilistic Reasoning in Intelligent
	  Systems.</a> and <a href="">Causality: Models, Reasoning,
	  and Inference.</a> Reading the book is a big ask for reading
	  group so the primer will do.
	  </li>
	</ul>
      </li>
      <li>
	<i>Upcoming (provisional):</i> <b>26/09/2023</b>
	<ul>
	  <li>
	    <a href="">Causal inference without counterfactuals
	      (Dawid, 2000).</a>
	  </li>
	  <li>
	    And possibly <a href="">The logic of counterfactuals in
	      causal inference (Pearl, 2000).</a> if we feel like it.
	  </li>
	</ul>
      </li>
    </ol>
  </p>
</div>
