<div id="causal_econometrics_reading_group" class="docs-section">
  <h4 class="">Causal econometrics reading group.</h4>
  <p>
    Peter Gibbard and I are starting a causal econometrics reading group.
  </p>
  <p>
    We will meet weekly starting 12 September 2023.
  </p>
  <p>
    1:30pm at Dispensary cafe. I am hoping Kevin will be a regular
    attendee. Please get in touch if you are interested in joining.
  </p>
  <img class="u-max-full-width" src="assets/images/kevin.jpg">
  <p>
    I will maintain a running update of the reading
    list <a href="https://www.leonstirkwang.com/#causal_econometrics_reading_group">here</a>
    along with the reading for the upcoming week.
  </p>
  <p>
    <ol>
      <li>
	<i>This week:</i> <b>12/09/2023</b>
	<ul>
	  <li>
	    <a href="https://academic.oup.com/biomet/article/70/1/41/240879">The central role
	of the propensity score in observational studies for causal
	      effects (Rosenbaum, Rubin, 1974).</a>
	  </li>
	  <li>
	    The seminal paper in causal econometrics (in
	    non-experimental settings).
	  </li>
	</ul>
      </li>
      <li>
	<i>Upcoming (provisional):</i> <b>19/09/2023</b>
	<ul>
	  <li><a href="https://academic.oup.com/biomet/article-abstract/82/4/669/251647">Causal diagrams for empirical research,
	      (Pearl 1995).</a>
	  </li>
	  <li>
	  The other major thread in the causal econometrics literature
	  descends from Pearl. The complete treatment may be found in <a href="https://library.mpib-berlin.mpg.de/toc/z2008_2219.pdf">Causality: Models, Reasoning,
	  and Inference.</a> Reading the book is a big ask for reading
	  group so the basics in the Biometrika paper will do.
	  </li>
	</ul>
      </li>

      <li>
	<i>Upcoming (provisional):</i> <b>26/09/2023</b>
	<ul>
	  <li>
	    <a href="https://www.tandfonline.com/doi/abs/10.1080/01621459.2000.10474210">Causal inference without counterfactuals
	      (Dawid, 2000).</a>
	  </li>
	  <li>
	    And possibly <a href="https://escholarship.org/content/qt2p02v64f/qt2p02v64f.pdf">The logic of counterfactuals in
	      causal inference (Pearl, 2000).</a> if we feel like it.
	  </li>
	</ul>
      </li>
<!--      
      <li>
	<i>Upcoming (provisional):</i> <b>03/10/2023</b>
	<ul>
	  <li>
	    <a href="">Why propensity scores should not be used for
	      matching (King, Nielsen, 2016)</a>	    
	  </li>
	</ul>
      </li>
-->  
    </ol>
  </p>
</div>
