<div class="docs-section">
  <h4 class="">Munging NZ census data</h4>
  <p>
    The first port of call when thinking about open data in NZ really
    is the census. The NZ census is a great resource that
    StatsNZ put together that is very publically accessible.
  </p>
  <p>
    5 years
  </p>
  <p>
    population dataset
  </p>

  <h6 class="docs-header">Where is the data?</h6>
  <p>
    These are really big table and they're kind of a bitch to organise.
  </p>
  <h6 class="docs-header">My R package</h6>
  <p>
    I have written a samll helper package to deal with the admin of
    getting the tables tidied into a format that I can work with
    easily.
  </p>
  <p>
    Most of it is pretty tedious but repeatable hence the
    package.
  </p>
  <p>
    The following code basically walks through that package
    workflow. And how to use the package functions.
  </p>
  <h6 class="docs-header">Organising the tables</h6>
  <p>
    something
  </p>
</div>
