<div class="docs-section">
  <h4 class="">NZ Government open data - exploring data.govt</h4>
  <p>
    Ah democracy. This is a wonderful resource.
  </p>
  <h6 class="docs-header">Title</h6>


  <p>
    We can get just a raw list of all the datasets names with
    <code>package-list</code>.
  </p>

  <pre>
    <code>
result &lt;- GET('https://catalogue.data.govt.nz/api/3/action/package_list')
dat &lt;- fromJSON(content(result, as='text'))
dat$result
    </code>
  </pre>

  
  <p>
    <a href="https://www.data.govt.nz/catalogue-guide/using-data-govt-nz-apis/accessing-dataset-metadata-via-api/">The
    data.govt catalogue guide</a> points us to
    the <a href="https://docs.ckan.org/en/latest/api/index.html">CKAN
      docs</a> Where we can see that the maximum number of rows is 
    Rows max out at 1000
  </p>

  <table class="u-full-width">
    <thead>
    </thead>
    <tbody>
      <tr>
	<td><b>rows</b> (int)</td>
	<td>The maximum number of matching rows (datasets)
	  to return. (optional, default: 10, upper limit: 1000 unless set in
	  site's configuration ckan.search.rows_max)</td>
      </tr>
      <tr>
	<td><b>start</b> (int)</td>
	<td>The offset in the complete result for where the set of
	returned datasets should begin.</td>
      </tr>
    </tbody>
</table>
  
  
  
</div>
